<div>
  <h1 class="pb-8 font-bold text-center text-32 text-primary-1">Welcome {{name}}</h1>
  <h2 class="mb-3 text-center text-24">Here you find the necessary steps to start the app: </h2>
  <ul class="flex flex-col gap-4">
    <li>
      <h2>1.) Get your Starter Kit</h2>
      <p>
        Clone the starter kit from github. Use your preferred command line with command
        <span class="block demo-code w-fit">git clone https://github.com/majd-albandik/bootcamp-2022</span>
      </p>
    </li>
    <li>
      <h2>2.) Start the project</h2>
      <ul class="list-disc list-inside">
        <li>Install all required dependencies <span class="demo-code">npm install</span></li>
        <li>Install JSON Server <span class="demo-code">npm install -g json-server</span></li>
        <li>Now you can start the project <span class="demo-code">npm run start</span> (For Angular Project) and <span
                class="demo-code">npm run server</span> for starting the backend server (API)</li>

        <p class="my-2">
          Now you should see the project in the browser (normally under <span
                class="demo-code">http://localhost:4200/</span> ).
          You can also access the API data in the browser under:
          <span class="demo-code"> http://localhost:3000/cars </span>
        </p>

        <li>
          Create your own Git-branch with your name e.g. <span class="demo-code">max-mustermann-branch</span> , where
          you will
          later push your changes.
        </li>
        <li>
          Change the <span class="demo-code">name</span> property in
          <span class="demo-code">src/app/components/welcome/welcome.component.ts</span> with your name and then push
          the changes to your own branch.
        </li>
      </ul>
    </li>
    <li>
      <h2>3.) Attention! To execute these exercises, you don’t need to think about any project settings and third-party
        libraries!</h2>
      <p>All what you need is preconfigured 😉. Of course, if you wish, everything is in your hands. =)</p>
      <p>For styling and customizing the App, you can use the integrated <span class="demo-code">tailwindcss</span> ,
        which helps you rapidly to style websites without leaving your HTML</p> but feel free to use normal CSS or even
      another UI-Framework.
    </li>

    <li>
      <h2>4.) API Endpoints:</h2>
      <ul class="list-disc list-inside demo-code">
        <li>GET /car</li>
        <li>GET /car/1</li>
        <li>POST /car</li>
        <li>DELETE /car/1</li>
      </ul>
    </li>

    <li>
      <h2>5.) Small overview of project structure:</h2>
      <ul class="list-disc list-inside">
        <li>Header section (Navbar) - is used to display the title of our project "Angular Bootcamp" and the navigation
          links to other pages</li>
        <li>Main section - will be used to display content of our application</li>
      </ul>
    </li>
  </ul>





























</div>
