<div class="container">
  <h2>Add New Car</h2>
  <form (submit)="onSubmit()" [formGroup]="carForm">
    <div class="mb-3">
      <label class="form-label" for="model">Model *</label>
      <input
        [class.is-invalid]="model.invalid && model.touched"
        id="model"
        class="form-control"
        type="text"
        name="model"
        placeholder="Type car model"
        formControlName="model"
      />
      <p class="text-danger" *ngIf="model.invalid && model.touched">Model field is required!</p>
    </div>

    <div class="mb-3">
      <label class="form-label" for="origin">Origin *</label>
      <input
        [class.is-invalid]="origin.invalid && origin.touched"
        id="origin"
        class="form-control"
        type="text"
        name="origin"
        placeholder="Type origin: GERMANY or USA"
        formControlName="origin"
      />
      <p class="text-danger" *ngIf="origin.invalid && origin.touched">Origin field is required!</p>
    </div>

    <button [disabled]="carForm.invalid" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
