form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  margin: 15px;

  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
  box-sizing: border-box;
  width: 300px;
}
button{
  margin: 15px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
button:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}
input::placeholder{
  color: #ccc;
  font-size: 0.8em;
}
small{
  color: red;
}
