.card-container {
  width: 260px;
  height: 340px;
  border: 1px solid grey;
}

.card-image-container {
  width: 100%;
  height: 45%;
}

.card-content-container {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

.card-title {
  width: 100%;
  height: 20%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.card-content {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.card-actions {
  width: 100%;
  height: 20%;
}

img {
  object-fit: cover;
  height: 100%;
}

button {
  width: 50%;
  height: 100%;
}

p {
  margin: 0;
}
