<div class="container">
  <ul>
    <li>Car model: {{currentCar?.model}}</li>
    <li>First registration: {{currentCar?.firstRegistration}}</li>
    <li>Origin of car: {{currentCar?.origin}}</li>
    <li>Km per Gallon: {{currentCar?.carDetails?.kmPerGallon}}</li>
    <li> Cylinders: {{currentCar?.carDetails?.cylinders}}</li>
    <li>Displacement: {{currentCar?.carDetails?.Displacement}}</li>
    <li>Horsepower: {{currentCar?.carDetails?.horsepower}}</li>
    <li>Weight: {{currentCar?.carDetails?.weight}}</li>
    <li>Acceleration: {{currentCar?.carDetails?.acceleration}}</li>
  </ul>
</div>
