/* .cars-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin: 0 auto;
} */

.cars-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
}
